.spinner {
  --size: 35px;
  --thickness: 5px;

  width: var(--size);
  height: var(--size);

  position: relative;
  border-radius: 50%;
  background-color: #022025;
  box-shadow: 0 0 50px #05d8fd2a;

  animation: spinner 2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.spinner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;

  background: linear-gradient(to bottom, #037a90, transparent);
  background-size: 100% 80%;
  background-repeat: no-repeat;

  border-top-left-radius: calc(var(--size) / 2);
  border-bottom-left-radius: calc(var(--size) / 2);
}
.spinner::after {
  content: "";
  width: calc(var(--size) - (var(--thickness) * 2));
  height: calc(var(--size) - (var(--thickness) * 2));

  position: absolute;
  top: var(--thickness);
  left: var(--thickness);
  border-radius: 50%;
  background-color: #022a31;
  box-shadow: 0 0 50px inset #05d8fd2a;
}
.spinner-ball {
  width: var(--thickness);
  height: var(--thickness);

  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  background-color: #05d8fd;
  border-radius: 50%;
  box-shadow: 0 0 10px #05d8fd, 0 0 20px #05d8fd, 0 0 30px #05d8fd,
    0 0 40px #05d8fd, 0 0 50px #05d8fd;
}
